<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>controller.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryUpload</servlet-name>
        <servlet-class>controller.CategoryUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryDelete</servlet-name>
        <servlet-class>controller.CategoryDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryUpdate</servlet-name>
        <servlet-class>controller.CategoryUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebStart</servlet-name>
        <servlet-class>controller.WebStart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvatarUpload</servlet-name>
        <servlet-class>controller.AvatarUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>controller.UpdateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePass</servlet-name>
        <servlet-class>controller.changePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>controller.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyProduct</servlet-name>
        <servlet-class>controller.BuyProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryUpload</servlet-name>
        <url-pattern>/CategoryUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryDelete</servlet-name>
        <url-pattern>/CategoryDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryUpdate</servlet-name>
        <url-pattern>/CategoryUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebStart</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvatarUpload</servlet-name>
        <url-pattern>/avatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/profileupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePass</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/pdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyProduct</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>start</welcome-file>
    </welcome-file-list>
</web-app>
