body{
    font-family: Helvetica,Arial,Roboto,sans-serif;
    background-color:#f2f6fc;
    color:#69707a;
}

.Item_List{
    border: #333333 solid thin;
    background-color: #edf0f2;
    border-radius: 10px;
}

.Item{
    text-align: center;
    height: 134px;
    width: 134px;
}

.SampleImg{
    cursor: pointer;
    width: 84px;
    height: 84px;
    object-fit: contain;
}

.Item-name{
    font-size: 16px;
    cursor: pointer;

}

.slick-arrow {
    z-index: 1;
    width: 40px;
    height: 40px;
}

.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev-arrow{
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.next-arrow{
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.Product-content{
    box-shadow: 0 1px 7px 0 rgba(0,0,0,.3);
    border: #d3d3d3 solid;
}

.item:hover{
    box-shadow: 0 1px 7px 0 rgba(0,0,0,.3);
    z-index: 10;
}

.item{
    display: flex;
    padding: 12px;
    border-color: #e8e8e8;
    gap: 12px;
    border-width: 1px 1px 1px 0;
    margin-bottom: -1px;
    border: #f4f4f4 solid;
    position: relative;
    cursor: pointer;
}

.item_img{
    position: relative;
    cursor: pointer;
    justify-content: center;
}

.item_img>img {
    width: 108px;
    height: 108px;
    border-radius: 2px;
    -o-object-fit: cover;
    object-fit: cover;
}

.item_detail-name{
    font-size: 16px;
    color: #222;
}

.item_detail-price{
    font-weight: 700;
}

.paging-num{
    text-decoration: none;
    border: solid #222 thin;
    padding: 5px 10px;
}

.paging-num:hover{
    text-decoration: none;
}

.checked{
    background-color: #89CFF0;
    color: #fff;
}

@media (min-width: 768px){
    .item {
        flex-direction: column;
        gap: 8px;
    }

    .item_img>img {
        width: 215px;
        height: 215px;
        aspect-ratio: 1/1;
    }

    .item_img>span {
        display: inline;
    }
}

